<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="spend_money.css" />
    <link rel="shortcut icon" href="./system/spend.png" type="image/x-icon" />
    <style>
      
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col_md header">Berkay Fun</div>
      </div>
      <br />
      <div class="row">
        <div class="col_md billBanner">
          <img src="./system/billgates.jpg" />
          <p class="fw-bold">Spend Bill Gates' Money</p>
        </div>
      </div>
      <div class="row moneyBannerHolder">
        <div class="col_md x_center moneyBanner bg-gradient">
          <span>$100,000,000,000</span>
        </div>
      </div>
      <div class="row">
        <div class="col_md x_center y_center">
          <div class="itemholder">
              <div class="item">
                <img src="./items/big-mac.jpg" alt="" srcset="" />
                <span class="name">Big Mac</span>
                <span class="money">$2</span>
                <div class="manager_holder">
                  <button class="btn bg-red">Sell</button>
                  <input type="text" placeholder="0" />
                  <button class="btn bg-gradient">Buy</button>
                </div>
              </div>
              <div class="item">
                <img src="./items/big-mac.jpg" alt="" srcset="" />
                <span class="name">Big Mac</span>
                <span class="money">$2</span>
                <div class="manager_holder">
                  <button class="btn bg-gray">Sell</button>
                  <input type="text" placeholder="0" />
                  <button class="btn bg-gradient">Buy</button>
                </div>
              </div>
              <div class="item">
                <img src="./items/big-mac.jpg" alt="" srcset="" />
                <span class="name">Big Mac</span>
                <span class="money">$2</span>
                <div class="manager_holder">
                  <button class="btn bg-red">Sell</button>
                  <input type="text" placeholder="0" />
                  <button class="btn bg-gradient">Buy</button>
                </div>
              </div>
              <div class="item">
                <img src="/items/boeing-747.jpg" alt="" srcset="" />
                <span class="name">Big Mac</span>
                <span class="money">$2</span>
                <div class="manager_holder">
                  <button class="btn bg-gray">Sell</button>
                  <input type="text" placeholder="0" />
                  <button class="btn bg-gradient">Buy</button>
                </div>
              </div>
              <div class="item">
                <img src="/items/airpods.jpg" alt="" srcset="" />
                <span class="name">Big Mac</span>
                <span class="money">$2</span>
                <div class="manager_holder">
                  <button class="btn bg-red">Sell</button>
                  <input type="text" placeholder="0" />
                  <button class="btn bg-gradient">Buy</button>
                </div>
              </div>
              <div class="item">
                <img src="/items/air-jordans.jpg" alt="" srcset="" />
                <span class="name">Big Mac</span>
                <span class="money">$2</span>
                <div class="manager_holder">
                  <button class="btn bg-gray">Sell</button>
                  <input type="text" placeholder="0" />
                  <button class="btn bg-gradient">Buy</button>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row mt_5">
        <div class="col_md x_center y_center">
          <div class="hesapHolder">
            <h1>Hesap</h1>
            <ul>
              <li>
                Big Mac
                <div class="quantittyHolder">
                  <span>x2 </span><span class="money fw-bold">$4</span>
                </div>
              </li>
              <li>
                Big Mac
                <div class="quantittyHolder">
                  <span>x2 </span><span class="money fw-bold">$4</span>
                </div>
              </li>
              <li>
                Big Mac
                <div class="quantittyHolder">
                  <span>x2 </span><span class="money fw-bold">$4</span>
                </div>
              </li>
              <li>
                Big Mac
                <div class="quantittyHolder">
                  <span>x2 </span><span class="money fw-bold">$4</span>
                </div>
              </li>
            </ul>
            <div class="quantittyHolder w_100">
              <span class="fw-bold">Total</span>
              <span class="money fw-bold">$4654648946</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt_5">
        <div class="col_md bg-gradient p_5">
          Hami berkay aktaş tarafından 2022 yılında yapılmıştır.<br />
          orjinali =>
          <a href="https://neal.fun/spend/">https://neal.fun/spend/</a>
        </div>
      </div>
      <style>
        
      </style>
    </div>
  </body>
</html>
